.center__ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
@media (max-width: 650px) {
  .center__ h3 {
    font-size: 20px;
  }
}
